@import "../../styles/variables";

.autoScrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    display: inline-block;
    // margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
